:root {
    --primary: #424242;
    --secondary: #252525;
    --dark: #1f2022;
    --light: rgb(163, 163, 163);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
  }
  
  body {
    background-color: var(--light);
  }
  
  .App {
    display: flex;
    min-height: 100vh;
    max-width: 100vh;
    align-items: center;
    justify-content: center;
    padding: 16px;
  }
  
  .calculator {
    display: grid;
  
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    grid-template: 
      "s1 s1 s1"
      "s3 s3 s2"
      "s4 s4 s2"
      "s4 s4 s2"
      "s5 s5 s6";
    
    width: 22rem;
    height: 26rem;
    background-color: rgb(34, 34, 34);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
  }
  
  .display {
    grid-area: s1;
    height: 4rem;
    width: 100%;
    background-color: #FF0000;
    padding: 16px;
    text-align: right;
    color: var(--light);
    font-size: 30px;
    font-weight: 300;
  }
  
  /* background-color: rgb(34, 34, 34); */
  
  .display span {
    font-size: 14px;
    color: #888;
  }
  
  button {
    appearance: none;
    border: none;
    outline: none;
    color: rgb(219, 219, 219);
    font-size: 20px;
    padding: 16px;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 8px;
  }
  
  .operators {
    grid-area: s2;
    background-color: #00FF36;
    display: flex;
    flex-direction: column;
  }
  
  .operators button {
    flex: 1 1 100%;
    background-color: var(--primary);
    font-weight: 700;
    margin: 1px;
  }
  
  .operators button:hover {
    background-color: #636363;
  }
  
  .extraoperators {
    grid-area: s3;
    background-color: #0030FF;
    
  }
  
  .digits {
    grid-area: s4;
    background-color: #FF00E4;
    display: flex;
    flex-wrap: wrap;
  }
  
  .digits button {
    flex: 0 0 32.6%;
    max-width: 32.6%;
    background-color: #2c2c2c;
    margin: 1px;
  }
  
  .digits button:hover {
    background-color: #474647;
  }
  
  .bottom_row {
    grid-area: s5;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: left;
    flex-wrap: wrap;
  }
  
  .bottom_row button {
    flex: 0 0 32.6%;
    background-color: #2c2c2c;
    margin-block-start: 2px;
    margin: 1px;
  }
  
  
  
  .equals {
    grid-area: s6;
    background-color: aqua;
  }